[submodule "scipion-em-eman2"]
	path = scipion-em-eman2
	url = git@github.com:scipion-em/scipion-em-eman2.git
[submodule "scipion-em-relion"]
	path = scipion-em-relion
	url = git@github.com:scipion-em/scipion-em-relion.git
[submodule "scipion-em-spider"]
	path = scipion-em-spider
	url = git@github.com:scipion-em/scipion-em-spider.git
[submodule "scipion-em-motioncorr"]
	path = scipion-em-motioncorr
	url = git@github.com:scipion-em/scipion-em-motioncorr.git
[submodule "scipion-em-gautomatch"]
	path = scipion-em-gautomatch
	url = git@github.com:scipion-em/scipion-em-gautomatch.git
[submodule "scipion-em-gctf"]
	path = scipion-em-gctf
	url = git@github.com:scipion-em/scipion-em-gctf.git
[submodule "scipion-em-cryoef"]
	path = scipion-em-cryoef
	url = git@github.com:scipion-em/scipion-em-cryoef.git
[submodule "scipion-em-nysbc"]
	path = scipion-em-nysbc
	url = git@github.com:scipion-em/scipion-em-nysbc.git
[submodule "scipion-em-imagic"]
	path = scipion-em-imagic
	url = git@github.com:scipion-em/scipion-em-imagic.git
[submodule "scipion-em-grigoriefflab"]
	path = scipion-em-grigoriefflab
	url = https://github.com/scipion-em/scipion-em-grigoriefflab.git
[submodule "scipion-em-resmap"]
	path = scipion-em-resmap
	url = https://github.com/scipion-em/scipion-em-resmap
[submodule "scipion-em-localrec"]
	path = scipion-em-localrec
	url = https://github.com/scipion-em/scipion-em-localrec
[submodule "scipion-em-simple"]
	path = scipion-em-simple
	url = https://github.com/scipion-em/scipion-em-simple
[submodule "scipion-em-emxlib"]
	path = scipion-em-emxlib
	url = https://github.com/scipion-em/scipion-em-emxlib
[submodule "scipion-em-bsoft"]
	path = scipion-em-bsoft
	url = https://github.com/scipion-em/scipion-em-bsoft
[submodule "scipion-em-bamfordlab"]
	path = scipion-em-bamfordlab
	url = https://github.com/scipion-em/scipion-em-bamfordlab
[submodule "scipion-em-chimera"]
	path = scipion-em-chimera
	url = https://github.com/scipion-em/scipion-em-chimera
[submodule "scipion-em-powerfit"]
	path = scipion-em-powerfit
	url = https://github.com/scipion-em/scipion-em-powerfit
[submodule "scipion-em-atsas"]
	path = scipion-em-atsas
	url = https://github.com/scipion-em/scipion-em-atsas
[submodule "scipion-em-appion"]
	path = scipion-em-appion
	url = https://github.com/scipion-em/scipion-em-appion
[submodule "scipion-em-locscale"]
	path = scipion-em-locscale
	url = https://github.com/scipion-em/scipion-em-locscale
